/*grid settings and main containers */
html{
  background-color: pink;
  border: #EF6F6C 10px solid
}
h1{
  font-family: 'Zen Loop', cursive;
}
h2{
  font-family: 'Zen Loop', cursive;
}
button{
  font-family: 'Zen Loop', cursive;
  font-size: 3vh;
  padding: 1vh;
  border-radius: 2vh;
}
button:hover{
  background-color: #EF6F6C;
}
hr{
  color:#EF6F6C;
}
.itemMain{
   grid-area: main;
   border: #EF6F6C 2px solid;
   background-color: #632E2D;
}
.itemSide{
   grid-area: side;
   border: #EF6F6C 2px solid

 }
.itemShop{
  display: flex;
  justify-content: center;
  grid-area:shop;
  border: #EF6F6C 2px solid
}

.gridCont{
  display:grid;
  height:95vh;
  width:97vw;
  grid-template-areas:
  'side main main main main main main main'
  'side main main main main main main main'
  'shop shop shop shop shop shop shop shop';
  grid-gap: 5px;
}
/* End grid and main styling*/
/*Coin cointainer*/
#coinCount{
  display: flex;
  justify-content: center;
  position: absolute;
  right:0;
  top:0;
  margin:4vh;
  padding:1vh;
  background-color:#EF6F6C;
  border: #D1ABAD 2px solid;
}
#coinCount img{
  height:8vh;
  width: 5vw;
}
/* end cointainer */
#dogPoop{
  position:absolute;
  height:5vh;
  display:none;
}
#dogPee{
  position: absolute;
  height:5vh;
  display:none;
}
#dogFood{
  position: absolute;
  height: 5vh;
}
#dogWater{
  position: static;
  height:5vh;
}
#dogRug{
  position: absolute;
  left:40vw;
  top:25vh;
  height:15vh;
  display:none;
  z-index: 0;
}
#dogHouse {
  position :absolute;
  left:80vw;
  top:45vh;
  height: 15vh;
  display: none;
}
/*end grid settings and main containers */
/* dog animation */

.dogSprite{
  height:10vh;
  position: relative;
}
.dogSprite2{
  height:6.5vh;
  position: relative;
  display:none;
}
.dogSpriteAnimMain{
  animation-name: dogMovement;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.dogSpriteAnimMain2 {
  animation-name: dogMovement2;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.dogSpriteAnimMain3{
  animation-name: dogMovement3;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.dogSpriteAnimFeed{
  animation-name: dogFeed;
  animation-duration: 20s;
}
.dogSpriteAnimSleep{
  animation-name: dogSleep;
  animation-duration: 20s;
}
@keyframes dogMovement {
  0% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    left:0%;
    top:0%;
  }
  25% {
    left:85%;
    top: 25%;
  }
  50% {
    left:80%;
    top:70%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  75%{
    left:20%;
    top:70%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  90%{
    left:55%;
    top:40%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  100%{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    left:0%;
    top:0%;
    }
}
@keyframes dogMovement2 {
  0% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    left:0%;
    top:0%;
  }
  25% {
    left:45%;
    top: 70%;
  }
  50% {
    left:20%;
    top:70%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  75%{
    left:80%;
    top:70%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  90%{
    left:55%;
    top:40%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  100%{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    left:0%;
    top:0%;
    }
}
@keyframes dogMovement3 {
  0% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    left:0%;
    top:0%;
  }
  25% {
    left:20%;
    top: 50%;
  }
  50% {
    left:50%;
    top:20%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  75%{
    left:32%;
    top:70%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  90%{
    left:80%;
    top:15%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  100%{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    left:0%;
    top:0%;
    }
}
@keyframes dogFeed {
  100%{
    -webkit-transform: scaleX(1);
    left:0%;
    top:1%;
  }
}
@keyframes dogSleep {
    100%{
      left:40vw;
      top:25vh;
    }

}
/* end dog animation */
/* progress bar style */
#progress{
  background-color: white;
  width:95%;
  height:5vh;
  border: #632E2D 2px solid;
  margin: .5vh
}
#progressBarHung{
background-color: red;
width:100%;
height:100%;
}
#progressBarThir{
  background-color: blue;
  width:100%;
  height:100%;
}
#progressBarHapp{
  background-color: green;
  width:100%;
  height:100%;
}
/* end progress bar */
/* shop styling */
.shopItem{
  text-align: center;
  margin-top: 5vh;
  margin-left: 4vw;
  margin-right: 4vw;
}
.shopImg{
  width: 8vh;
  height:8vh;
  border: #EF6F6C 2px solid
}
